In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
movie = pd.read_csv("/Users/AyshaZia/Desktop/movie.csv")

In [18]:
movie = movie.loc[:,["movieId","title"]]
movie.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [19]:
rating = pd.read_csv("/Users/AyshaZia/Desktop/rating.csv")
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [20]:
rating = rating.loc[:,["userId","movieId","rating"]]
rating.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [21]:
# then merge movie and rating data
data = pd.merge(movie,rating)

In [22]:
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [23]:
data.shape

(20000263, 4)

In [24]:
data=data.iloc[:1000000,:]

In [25]:
data.shape
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [26]:
# Make a pivot table 
pivot_table = data.pivot_table(index = ["userId"],columns = ["title"],values = "rating")
pivot_table.head()

title,Ace Ventura: When Nature Calls (1995),Across the Sea of Time (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angela (1995),Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Assassins (1995),Babe (1995),...,Unforgettable (1996),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),When Night Is Falling (1995),"White Balloon, The (Badkonake sefid) (1995)",White Squall (1996),Wings of Courage (1995),"Young Poisoner's Handbook, The (1995)"
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
pivot_table.shape

(123161, 146)

In [28]:
movie_watched = pivot_table["Toy Story (1995)"]
movie_watched

userId
1         NaN
2         NaN
3         4.0
4         NaN
5         NaN
         ...
138489    NaN
138490    NaN
138491    2.0
138492    NaN
138493    3.5
Name: Toy Story (1995), Length: 123161, dtype: float64

In [39]:
movie_watched = pivot_table["Toy Story (1995)"]
# find correlation between movies
similarity_with_other_movies = pivot_table.corrwith(movie_watched)

similarity_with_other_movies = similarity_with_other_movies.sort_values(ascending=False)

similarity_with_other_movies.head(10)

title
Toy Story (1995)                                                  1.000000
Gospa (1995)                                                      0.516264
Shadows (Cienie) (1988)                                           0.508859
Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)    0.495360
Across the Sea of Time (1995)                                     0.461406
Guardian Angel (1994)                                             0.448342
Angela (1995)                                                     0.401684
Babe (1995)                                                       0.392358
Wings of Courage (1995)                                           0.381326
Jumanji (1995)                                                    0.314554
dtype: float64

In [38]:
movie_watched = pivot_table["Bad Boys (1995)"]
# find correlation between movies
similarity_with_other_movies = pivot_table.corrwith(movie_watched)

similarity_with_other_movies = similarity_with_other_movies.sort_values(ascending=False)

similarity_with_other_movies.head(10)

title
Bad Boys (1995)                        1.000000
Headless Body in Topless Bar (1995)    0.723747
Last Summer in the Hamptons (1995)     0.607554
Two Bits (1995)                        0.507008
Shadows (Cienie) (1988)                0.494186
Guardian Angel (1994)                  0.465218
Money Train (1995)                     0.451802
Across the Sea of Time (1995)          0.450071
Assassins (1995)                       0.427445
Vampire in Brooklyn (1995)             0.426861
dtype: float64